@page
@model IndexModel
@{
    ViewData["Title"] = "Tracked Games";
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />

<form id="newgame" method="post">
    <div class="form-floating mb-3">
        <input asp-for="Input.UrlToSubmit" class="form-control" aria-required="true" placeholder="https://www.backstabbr.com/sandbox/Our-Friendly-Game/123456/" />
        <label asp-for="Input.UrlToSubmit" class="form-label">URL</label>
        <span asp-validation-for="Input.UrlToSubmit" class="text-danger"></span>
    </div>
    <div>
        <button id="newgame-submit" type="submit" class="w-100 btn btn-lg btn-primary">Track Game or Sandbox</button>
    </div>
</form>

<table class="table">
    <tr>
        <th>Game URL</th>
        <th>Creation Time</th>
        <th></th>
    </tr>
    @foreach (var game in Model.CurrentGames)
    {
        <tr>
            <td>
                <a asp-page="Game" asp-route-id="@game.Id">@game.Uri</a>
            </td>
            <td>
                @game.CreationTime
            </td>
            <td>
                @if (game.UserOwnsThisGame)
                {
                    <button class="deleteBtn btn btn-danger"
                            data-id="@game.Id" asp-page-handler="Delete"
                            asp-route-id="@game.Id">
                        Delete
                    </button>
                }
            </td>
        </tr>
    }
</table>

<script>
    [...document.getElementsByClassName("deleteBtn")].forEach(b => 
    {
        b.onclick = async (e) => {
            const p = new URLSearchParams();
            p.append("id", e.target.dataset.id);
            await fetch(document.location.pathname+`?${p}`, {method:'DELETE', headers:
            {
                "RequestVerificationToken": document.getElementsByName("__RequestVerificationToken")[0].value
            },
            });
            window.location.reload();
        };
    });
</script>
